.hidden {
    display: none;
}

.first-column {
    width: 30%;
}

.second-column {
    width: 70%;
}

.short-left {
    width: 10%;
    text-align: left;
}

.long {
    width: 80%;
    text-align: center;
}

.short-right {
    width: 10%;
    text-align: right;
}

.maintable tr, .maintable td {
    border-style: none !important
}

.long div { 
    margin: auto; 
}